<h1>E-Commerce Danko</h1>

<section id="productos">
    <div class="main-card">
        <a href="/api/products">
            <h2>Nuestros productos</h2>
            <p>Acceder a los productos listados</p>
        </a>
    </div>
    <div class="main-card">
        <a href="/api/users/login">
            <h2>Accede a tu cuenta</h2>
            <p>Ingresar a tu cuenta de usuario</p>
        </a>
    </div>
</section>
<script src="/js/product.js"></script>
